body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  background-color: #1abc9c;
}

.line{
  width: 80px;
  height: 4px;
}

.layer{
  background-color:#1abc9c;
  transition: 0.3s;
}

.col-md-4:hover .layer{
  opacity: 0.9 !important;
}
.submit{
  background-color: #1abc9c;
}
.about{
  background-color: #1abc9c;

}